{% extends 'store/base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <h2 class="text px-4 py-2">Your dashboard</h2>
    <hr class="featurette-divider">
    <main class="pt-5">
        <div class="container">
            <div class="col-12 d-flex justify-content-between">
                <a href="{% url 'account:edit_info' %}">
                    Manage your orders and personal information
                </a>
            </div>
        </div>
    </main>
{% endblock content %}