{% extends 'store/base.html' %}

{% block title %}Set new password{% endblock title %}

{% block content %}
    {% if request.user.is_authenticated %}
        <script>
            window.location.href = "{% url 'account:dashboard' %}";
        </script>
    {% endif %}

    <h2 class="text px-4 py-2">Reset password</h2>
    <hr class="featurette-divider">
    <div class="container py-3 mb-3">
        <form method="post" class="password_reset-form p4 col-lg-6 mx-auto">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-warning alert-dismissable fade show mb-3" role="alert">
                    Wrong input. Please try again! {% comment %} {{form.errors}} {% endcomment %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="float: right;"></button>
                </div>
            {% endif %}
            
            <div class="form mb-3">
                <label>{{ form.new_password1.label }}</label>
                {{form.new_password1}}
                <label>{{ form.new_password2.label }}</label>
                {{form.new_password2}}
                <ul>
                    <li>Your password can't be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                </ul>
                <div style="float: right;">
                    <button type="submit" class="btn btn-outline-secondary border me-2" value="change">
                        Submit
                    </button>
                </div> 
            </div>
        </form>
    </div>
{% endblock content %}