{% extends '../base.html' %}
{% load static %}
{% block title %}Basket{% endblock title %}

{% block content %}
    <main class="pt-5">
        <div class="container">
            <h2 class="h5">Your basket</h2>
            {% for item in basket %}
                {% with product=item.product %}
                    <div class="row mb-4 border-bottom">
                        <div class="col-md-3 col-lg-2 order-md-first">
                            <img class="img-fluid mx-auto d-block" alt="Product image" src="{{ product.image.url }}">
                        </div>
                        <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                            <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-reset">
                                <h2 class="h5 pt-2">{{ product.name }}</h2>
                            </a>
                            <div>
                                <div class="col border-bottom">
                                    <div class="row p-3">
                                        <div class="col-6">Price</div>
                                        <div class="col-6 text-end">
                                            <span class="h5 fw-bold">${{ item.total_price }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row p-3">
                                        <div class="col-12">
                                            <label for="select">Qty</label>
                                            <select id="select{{ product.id }}">
                                                <option selected>{{ item.qty }}</option>
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                                <option value="">4</option>
                                                <option value="">5</option>
                                            </select>
                                            <button type="button" id="add-button" value="{{product.id}}" class="btn btn-secondary btn-sm">
                                                Update
                                            </button>
                                            <button type="button" id="delete-button" value="{{product.id}}" class="btn btn-secondary btn-sm delete-button">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
            <div class="col-12 text-end">
                <div class="h5 fw-bold">Sub total: $<span id="subtotal">{{ basket.get_total_price }}</span></div>
            </div>
        </div>
    </main>

    <script>
        $(document).on('click', '#delete-button', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "basket:basket_delete" %}',
                data: {
                    productid: $('#delete-button').val(),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post'
                },
                success: function (json) {
                    {% comment %} document.getElementById("basket-qty").innerHTML = json.qty {% endcomment %}
                },
                error: function (xhr, errmsg, err) {}
            });
        })
    </script>
{% endblock content %}