{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}COMPmart{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        body {
            margin-top: 70px;
        }

            {
            % comment %
        }

        parameter for correct view of the product image (30vh - viewport height units) {
            % endcomment %
        }

        .card-img-top {
            width: 100%;
            height: 30vh;
            object-fit: contain;
        }
    </style>
</head>

{% comment %} body class flex-column helps keep footer at the end of page {% endcomment %}

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white border-bottom">
            <div class="container-md">
                <a class="navbar-brand" href="/">CompMart</a>
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3
                                0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        </svg>
                    </div>
                </button>
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Catalog
                            </a>
                            <ul class="dropdown-menu" aria=labelledby="navbarDropdown">
                                {% for category in categories %}
                                <li>
                                    <a class="dropdown-item"
                                        href="{{category.get_absolute_url}}">{{ category.name }}</a>
                                </li>
                                {% endfor %}
                                <li>
                                    <form class="d-flex">
                                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-outline me-2" type="submit">Search</button>
                                    </form>
                                </li>
                            </ul>
                        </li>    
                    </div>
                </ul>
                {% if user.is_authenticated %}
                    <a type="button" role="button" href="{% url 'account:logout' %}"
                        class="btn btn-outline-secondary border-0 me-2">
                        Logout
                    </a>
                {% else %}
                    <a type="button" role="button" href="{% url 'account:login' %}"
                        class="btn btn-outline-secondary border-0 me-2">
                        Login
                    </a>
                {% endif %}
                
                <a type="button" role="button" href="{% url 'basket:basket_summary'%}"
                    class="btn btn-outline-secondary border-0">
                    {% with total_qty=basket|length %}
                        <span id ="basket-qty">
                            {% if total_qty > 0 %}
                                {{ total_qty }}
                            {% endif %}
                        </span>
                    {% endwith %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-basket2" viewBox="0 0 16 16">
                        <path
                            d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0v-2z" />
                        <path
                            d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z" />
                    </svg>
                </a>

            </div>
        </nav>
    </header>
    <div class="container" id="content">{% block content %}{% endblock content %}</div>
    <br>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <div class="row b-row-container">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="b-head">Business time:</div>
                    <div>Mon-Fri: 09:00AM-09:00PM <br>Sat-Sun: 10:00AM-6:00PM</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div>Our phone numbers:</div>
                    <ul>
                        <li>0-800-111-111</li>

                        <li>0-800-222-222</li>

                        <li>0-800-333-333</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a>© CompMart Contacts 2008-2021</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>