{% extends './base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
  <section id="components">
    <main>
      <div class="welcoming-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Welcome to the CompMart</h1>
        <p class="fs-5 text-muted">This app is developing for portfolio. Thank you for visiting.</p>
        {% if not user.is_authenticated %}
          <p>
            <a href="{% url 'account:register' %}" class="btn btn-primary my-2 me-2">Register</a>
            <a href="{% url 'account:login' %}" class="btn btn-secondary my-2">Log in</a>
          </p>
        {% endif %}
        <hr class="featurette-divider">
      </div>
    
    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">If you want a <span class="text-muted">gaming PC</span></h2>
          <p class="lead">Here you can find everything to build a powerful PC.</p>
        </div>
        <div class="col-md-5">
          <img class="img-fluid mx-auto d-block" width="500px" height="500px" src="media/images/gaming-pc.jpg" alt="Responsive image">
          {% comment %} <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> {% endcomment %}

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">If you need a <span class="text-muted">workstation</span></h2>
          <p class="lead">We'll help you make the best choice.</p>
        </div>
        <div class="col-md-5 order-md-1">
          {% comment %} <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> {% endcomment %}
          <img class="img-fluid mx-auto d-block" width="500px" height="500px" src="media/images/workstation.jpg" alt="Responsive image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">If you need a <span class="text-muted">laptop</span></h2>
          <p class="lead">We have light but powerful ones.</p>
        </div>
        <div class="col-md-5">
          {% comment %} <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> {% endcomment %}
          <img class="img-fluid mx-auto d-block" width="500px" height="500px" src="media/images/laptop.jpg" alt="Responsive image">
        </div>
      </div>

    </div>
  </section>
{% endblock content %}